body {
    background: #E8EBF0;
    margin: 0 auto;

}

header {
    background: white;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgb(57 63 72 / 30%);
}

.logo {
    float: left;
    width: 75px;
    margin-left: 10px;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    justify-content: center;
    margin-left: 70px;
    padding-top: 20px;
}

nav li p {
    margin: 0 auto;
}

nav li a {
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-item {
    background: white;
}

.grid-item img {
    width: 200px;
}

footer {
    background: white;
    margin-top: 10px;
}
footer hr {
    margin: 0px;
    border-top: 10px solid rgb(57 63 72 / 30%);
}
footer p {
    margin: 0px;
    text-align: center;
}