body {
    background: #E8EBF0;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(64, 64, 64);
}

header {
    background: white;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgb(57 63 72 / 30%);
}

.logo {
    float: left;
    width: 75px;
    margin-left: 10px;
    margin: 0 auto;
    padding: 0;
}

.nav-map {
    width: 45px;
    float: right;
    border-radius: 50%;
    padding: 0;
    margin-top: 13px;
    margin-right: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid black;
}

.navbar-container {
    height: 75px;
}

.navbar-container ul {
    margin: 0 auto;
    padding: 0px 10px;
}

.navbar-container li {
    display: inline;
}

.navbar-container p {
    margin: 0 auto;
}

.navbar-container #nav-text {
    margin-top: 17px;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.grid-item {
    background: white;
    box-shadow: 0px 3px 5px rgb(57 63 72 / 30%);
}

.grid-item img {
    height: 120px;
    padding: 10px;
}

.grid-item h1 {
    margin: 0 auto;
    padding: 0px 10px;
    font-size: 100%;
    font-weight: bold;
}

.grid-item p {
    margin: 0 auto;
    padding: 10px;
}

footer {
    background: white;
    margin-top: 10px;
    font-size: small;
}
footer hr {
    margin: 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}
footer p {
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}